<h1>Salut <%= @user.first_name %> !!</h1>
<p>
  Quelqu'un vient de s'inscrire à l'event <%= @event.title %> !! Youhouhou !!
</p>
<p>
  Pour accéder à ton event, connecte-toi via : <%= @url %>.
</p>
<p> À très vite sur notre site !