<h1>Salut <%= @user.first_name %> !!</h1>
<p>
  Tu viens de t'inscrire à l'event <%= @event.title %> ! J'espère que celui-ci te plaira ! Youhou !!
</p>
<p>
  Celui-ci commencera le <%= @event.start_date %>, note bien cette date dans ton agenda !
</p>
<p>
  Pour accéder à ton event, connecte-toi via : <%= @url %>.
</p>
<p> À très vite sur notre site !