<div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/433452/pexels-photo-433452.jpeg?cs=srgb&dl=pexels-pixabay-433452.jpg&fm=jpg);">
  <div class="container">
    <h1 class="display-3">Bonjour et bienvenue sur EventBrite-like !</h1>
    <p>Sur ce site, vous pourrez organiser tout types d'évènements, des plus farfelus aux plus classiques, des plus intimistes aux plus grands nombre (enfin… Au moins en ligne, covid oblige)</p>
    <%#<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>%>
  </div>
</div>