// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-card-img {
  max-width: 100%;
  max-height: 60vh;
  height: auto;
  margin: auto;
  object-fit: contain;
}