<div class="container">
  <h2>Votre paiement de <strong><%= @amount %> €</strong> a bien été reçu et validé !</h2>
  <p>Nous espérons que vous passerez un excellent moment !!</p>

  <%= link_to  "Retour à l'évènement", @event, class: "btn btn-info" %>
</div>