<footer class="pt-4 mt-md-5 pt-md-5 border-top bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md">
        <h5><i class="fas fa-calculator"></i> Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><i class="far fa-folder-open"></i> Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><i class="far fa-address-card"></i> About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><i class="fas fa-link"></i> All links</h5>
        <div class="row">
          <ul class="list-unstyled text-small text-muted">
            <li><i class="fab fa-twitter"></i>&nbsp;</li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-github"></i></li>
          </ul>
          <ul class="list-unstyled text-small text-muted">
            <li><a class="text-muted" href="https://www.twitter.com"> Twitter</a></li>
            <li><a class="text-muted" href="https://www.facebook.com/"></i> Facebook</a></li>
            <li><a class="text-muted" href="https://www.instagram.com/"> Instagram</a></li>
            <li><a class="text-muted" href="https://github.com/"></i> Github</a></li>
          </ul>
        </div>
        <small class="d-block mb-3 text-muted">©MW2020</small>
      </div>
    </div>
  </div>
</footer>